# Node modules
node_modules/

# Environment variables
.env

# Build artifacts
dist/
build/

# Logs
*.log

# Temporary files
.DS_Store
Thumbs.db
*.tmp

# Testing and coverage reports
coverage/
*.lcov

# IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project